* {
    margin: 0;
    padding: 0;
}
header {
    height: 75px;
    background-color: brown;
    display: flex;
    align-items: center;    
}
header h1 {
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.250);
}
#container-principal {
    text-align: center;
    min-width: 480px;
    max-width: 1200px;
    margin: auto;    
}
h2 {
    margin: 15px;
    background-image: linear-gradient(to right, brown, transparent);    
}
#logo {
    color: cornflowerblue;
}
hr {
    margin-bottom: 15px;
}
